@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Maven Pro';
}
.wrapper{
    max-width: 1000px;
    margin: 0px auto;
    box-shadow: 0px 1px 3px grey;
}

.wrapper .cards{
    display: flex;
}

.cards .bigcard{
    width: 50%;
    background-image: url(img/Rectangle\ 25.png);
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards .smallcard{
    width: 50%;
}
.wrapper .cards .smallcard .bruncard{
    background-color: #9E6D52;
    display: flex;
    justify-content: center;
}
.wrapper .cards .smallcard .gröncard{
    background-color: #0A846E;
    display: flex;
    justify-content: center;
}
header .navItem {
    height: 4rem;
    box-shadow: -3px 10px 11px -14px rgb(66, 68, 90);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .navItem a{
    text-decoration: none;
    color: #055647;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 0.5;
}


.Planthood-container h1{
    text-align: center;
    font-size: 3rem;
    margin: 0;
    padding: 1.5rem;
    color: #0a846e;
    font-weight: 700;
}
.Planthood-container .Planthood{
    display: flex;
    justify-content: space-between;
    min-height: 450px;
    position: relative;
    padding: 1.5rem 1.5rem 4rem 1.5rem;
}
.Planthood-container .Planthood .runda{
    width: 48%;
    background-color: #055647;
    border-radius: 50%;
    background-image: url(img/Vectorseedpackage.png);
    background-position: center;
    background-repeat: no-repeat;
}

.Planthood-container .sasong-text{
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Planthood-container button{
    align-self: flex-end;
    background-color: #0a846e;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 15px 30px; 
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.recipeCardsContainer{
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "purpleItem redItem blueItem";
    padding: 3rem 1.5rem 0 1.5rem;
}

.purpleBg{
    grid-area: purpleItem;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.redBg{
    grid-area: redItem;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.blueBg{
    grid-area: blueItem;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.recipeCardsContainer .recipeCard figure{
    margin: 0;
    position: relative;
}
.recipeCardsContainer .recipeCard img{
    width: 100%;
}
.recipeCardsContainer .recipeCard img:nth-child(2){
    position: absolute;
    top: 20%;
    left: 30%;
    width: 45%;
}
.gurka-time, .tabort{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}
.tabort{
    padding-bottom: 1rem;
}
.tabort button{
    background-color: #B93857;
    box-shadow: none;
    padding: 10px 20px;
}
.planteringar{
    position: relative;
    margin-top: 6rem;
}
.planteringar::before{
    content: '';
    display: block;
    position: absolute;
    top: -200%;
    width: 25%;
    left: 38%;
    border-top: 3px solid #0a846e;
}
.planteringar h2{
    text-align: center;
    margin: 0;
}

main .Planthood-container .footer-button{
    height: 150px;
    display: flex;
    justify-content: center;
}
main .Planthood-container .footer-button button{
    align-self: center;
    font-size: 1.5rem;
}
.Planthood:nth-child(7){
    flex-direction: row-reverse;
}
.Planthood:nth-child(7) .runda{
    background-image: url(img/Group\ 3.png);
}
.Planthood:nth-child(7) button{
    align-self: flex-start;
    width: 50%;
    font-size: 1rem;
}

.box{
    width: 100%;
    background-image: url(img/Rectangle\ 22.png);
    background-position: center;
    background-size: cover;
    display: flex;
    color: aliceblue;

}
.box .svartdel{
    width: 50%;
    height: 500px;
    background: rgba(0, 0 , 0, 0.8);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box .svartdel .talefon{
    display: flex;
    align-self: flex-end;
    margin-bottom: 1rem;

}
.box .svartdel .talefon img{
   margin-right: 0.rem;
}
.box .svartdel .emil{
    display: flex;
    align-self: flex-end;
    margin-bottom: 1rem;
}
.box .svartdel .emil img{
margin-left: 0.5rem;
}

.box .svartdel img {
    margin-top: 0.7rem;
}
.box .gröndel{
    width: 50%;
    background-color:green;
    background: rgba(0, 0 , 0, 0.2);
}
.box .svartdel a{
  color: white;
  text-decoration: none;
}
.box .gröndel{
    display: flex;
    justify-content: center;
    align-items: center;
}

.svartdel img{
    width: 30px;
    height: 30px;
}
.svartdel h2{
    font-size: 3rem;
    font-weight: 700;
}
.footer-h3{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 3px grey;
    margin-bottom: 3rem;
}
footer h3{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 0.5;
  font-family: 'Maven Pro';
}





